@font-face {
  font-family: Inconsolata;
  src: url(../../fonts/Inconsolata.ttf);
}

span {
  color: #333333;
  font-family: Inconsolata;
  font-size: 24px;
  font-weight: 700;
  left: 70px;
  position: absolute;
  top: 40px;
}
