@font-face {
  font-family: 'Space Mono';
  src: url(../../fonts/SpaceMono-Regular.ttf);
}

.problem-info {
  display: flex;
  flex-basis: 50%;
  flex-flow: row wrap;
  font-family: 'Space Mono', Arial, Helvetica, sans-serif;
  justify-content: left;
  h1 {
    color: #333;
    font-size: 64px;
    font-weight: 700;
    width: 70%;
  }
  p {
    color: #4f4f4f;
    font-size: 24px;
    font-weight: 400;
    margin-right: 500px;
    width: 45%;
  }
  a {
    background-color: #333;
    color: #fff;
    display: block;
    margin-bottom: 30px;
    margin-top: 70px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    width: 200px;
  }
}

@media (max-width: 1520px) {
  .problem-info {
    h1 {
      font-size: 59px;
    }
    p {
      margin-right: 170px;
      width: 60%;
    }
  }
}

@media (max-width: 1030px) {
  .problem-info {
    h1 {
      font-size: 48px;
      width: 100%;
    }
    p {
      font-size: 22px;
      margin: 0px;
      width: 100%;
    }
  }
}

@media (max-width: 820px) {
  .problem-info {
    flex-basis: 90%;
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .problem-info p {
    font-size: 20px;
  }
}
