div {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  justify-content: center;
  img {
    width: 500px;
  }
}

@media (max-width: 1030px) {
  div img {
    width: 400px;
  }
}

@media (max-width: 440px) {
  div img {
    width: 320px;
  }
}
